<!-- Script pointing to tag cloud scripts -->
<script src="{{ site.baseurl }}/js/tagcloud.jquery.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}/js/tagcloud.jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var settings = {
        //height of sphere container
        height: 500,
        //width of sphere container
        width: 500,
        //radius of sphere
        radius: 200,
        //rotation speed
        speed: 1,
        //sphere rotations slower
        slower: 0.9,
        //delay between up<a href="https://www.jqueryscript.net/time-clock/">date</a> position
        timer: 5,
        //dependence of a font size on axis Z
        fontMultiplier: 15,
        //tag css stylies on mouse over
        hoverStyle: {
            border: 'none',
            color: '#0b2e6f'
        },
        //tag css stylies on mouse out
        mouseOutStyle: {
            border: '10',
            color: 'black'
        }
    };

  $(document).ready(function() {
      $('.tagcloud').tagoSphere(settings);
  });
</script>