<h3>Work Experience Timeline:</h3>
<p>(starting dates)</p>
<div class="row">
    <div class="timeline">
        <section class="main-timeline-section">
            <div class="timeline-start"></div>
            <div class="conference-center-line"></div>
            <div class="conference-timeline-content">
                {% for work in site.data.profile.work %} {% assign id = id | plus: 1 | modulo:2 %} {% if id == 0 %}
                <div class="timeline-article timeline-article-top">
                    <div class="content-date">
                        <span>{{ work.startDate }}</span>
                    </div>
                    <div class="meta-date"></div>
                    <div class="content-box">
                            <p>
                                <div class="work">
                                    <img src="{{ site.baseurl }}/images/{{work.logo}}" alt="{{ work.name }}">
                                    <a href="{{ work.url }}" target="_blank">{{ work.name }}</a>
                                </div>
                            </p>
                            <p>{{ work.position }}</p>
                    </div>
                </div>
                {% else %}
                <div class="timeline-article timeline-article-bottom">
                    <div class="content-date">
                        <span>{{ work.startDate }}</span>
                    </div>
                    <div class="meta-date"></div>
                    <div class="content-box">
                        <p>
                            <div class="work">
                                <img src="{{ site.baseurl }}/images/{{work.logo}}" alt="{{ work.name }}">
                                <a href="{{ work.url }}" target="_blank">{{ work.name }}</a>
                            </div>
                        </p>
                        <p>{{ work.position }}</p>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <div class="timeline-end"></div>
        </section>
    </div>
</div>