--- 
layout: page 

--- 

{% include tagcloud.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/css/profile.css">


<h2>
    Summary</h2>
<div class="summary">
    <p><span class="first-letter">I</span> am a Test Automation Architect living in <a href='https://vimeo.com/218521194' target="_blank">Romania</a>. <br>I’ve spent the last 11 years designing, developing, testing and implementing professional experience
        for small, medium and large enterprises in the software automation field.</p>
    <p><span class="first-letter">M</span>y speciality areas include building test automation frameworks from scratch in an Agile way, automating different manual processes according to stakeholder’s business goals, covering a wide area of e2e QA process
        and flows from desktop applications to mobile, web applications, APIs, protocols, database - all running in continuous integration environment(s).</p>

    <p><span class="first-letter">I</span>'m also involved in presales activities, estimations, roadmaps, backlog creation/refinement and ROI calculation.</p>
    <p><span class="first-letter">I</span> hold a bachelor’s degree in Business Information Technologies (2008), a master’s degree in Management Information Systems (2010) and ISQTB certification since 2009.</p>

</div>

{% include timeline-article.html %}

<h2>Skills/Technologies</h2>
<div class="tagcloud">
    <ul>
        {% for other in site.data.profile.knows %}
        <li>{{other }}</li>
        {% endfor %}
    </ul>
</div>

<h2>Whant to know more?</h2>
<blockquote>Checkout my contact details - I bet you will find them !</blockquote>