--- 
layout: page 

--- 

{% include tagcloud.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/css/profile.css">


<h2>
    Summary</h2>
<div class="summary">
    <p><span class="first-letter">S</span>ay goodbye to clunky test automation and hello to sleek and efficient solutions. With <strong>{{ site.time | date: '%Y' | minus :2008 }}+</strong> years of experience and expertise in building frameworks, automating manual processes, and testing a wide range of applications and technologies, I'm the Test Automation Architect you've been searching for. I'll take your software automation to the next level, with a combination of skills from data analytics, performance and security testing, ethical hacking, and DevOps. Plus, with my fancy degrees and certification, you'll be in good hands. Don't settle for average, let's transform test automation from ordinary to extraordinary!</p>
    <p></p>
    {% for sum in site.data.profile.short_intro %}    
        {% assign firstLetter = sum["intro"] | slice: 0  %}
        {% assign intro = sum["intro"] | slice: 1, sum["intro"].size  %}
        <p>
            <span class="first-letter">{{ firstLetter }}</span>{{ intro }}
            {% if sum["details"] %}
            <ul>
                {% for detail in sum["details"] %} 
                <li>{{ detail }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
    {% endfor %}
</div>

{% include timeline-article.html %}

<h3>Technologies/Skills</h3>
(my "bubble" world)
<div class="tagcloud">
    <ul>
        {% for know in site.data.profile.knows %}
        <li>{{know }}</li>
        {% endfor %}
    </ul>
</div>

<h3>Certifications</h3>
<section class="post">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Certificate</th>              
              <td scope="col">Description</td>
            </tr>
          </thead>
          <tbody>
            {% assign certifications = site.data.profile.certifications  %}
            {% for certificate in certifications %}
            <tr>
                <td><img src="{{ site.baseurl }}{{ certificate['img'] }}" width="50%" height="50%"></td>
                <td><div class="timeline-article"><p>{{certificate["description"] }}</p></div></td>                
            </tr>
            {% endfor %}
          </tbody>
    </table>
</section>

<h3>Awards/Recognitions</h3>
<section class="post">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">When</th>
              <th scope="col">What</th>
              <td scope="col">Feedback</td>
            </tr>
          </thead>
          <tbody>
            {% assign awards = site.data.profile.awards |  reverse  %}
            {% for award in awards %}
            <tr>
                <td>{{award["when"] }}</td>
                <td>{{award["what"] }}</td>
                {% if award["review"] %}
                <td><div class="timeline-article"><p>{{award["review"] }}</p></div></td>
                {% endif %}
                
            </tr>
            {% endfor %}
          </tbody>
    </table>
</section>
<h3>Whant to know more?</h3>
<blockquote>Checkout my contact details - I bet you will find them !</blockquote>