--- 
layout: page 

--- 

{% include tagcloud.html %}

<link rel="stylesheet" href="{{ site.baseurl }}/css/profile.css">


<h2>
    Summary</h2>
<div class="summary">
    <p><span class="first-letter">I</span> am a self-motivated Test Automation Architect living in <a href='https://vimeo.com/218521194' target="_blank">Romania</a>. In the last <strong>{{ site.time | date: '%Y' | minus :2008 }} years</strong> I've spent my time designing, developing, testing and implementing professional experience for small, medium and large enterprises in the software automation field.</p>
    {% for sum in site.data.profile.short_intro %}    
        {% assign firstLetter = sum["intro"] | slice: 0  %}
        {% assign intro = sum["intro"] | slice: 1, sum["intro"].size  %}
        <p>
            <span class="first-letter">{{ firstLetter }}</span>{{ intro }}
            {% if sum["details"] %}
            <ul>
                {% for detail in sum["details"] %} 
                <li>{{ detail }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
    {% endfor %}
</div>

{% include timeline-article.html %}

<h3>Technologies/Skills</h3>
(my "bubble" world)
<div class="tagcloud">
    <ul>
        {% for know in site.data.profile.knows %}
        <li>{{know }}</li>
        {% endfor %}
    </ul>
</div>

<h3>Awards/Recognitions</h3>
<section class="post">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">When</th>
              <th scope="col">What</th>
              <td scope="col">Feedback</td>
            </tr>
          </thead>
          <tbody>
            {% assign awards = site.data.profile.awards |  reverse  %}
            {% for award in awards %}
            <tr>
                <td>{{award["when"] }}</td>
                <td>{{award["what"] }}</td>
                {% if award["review"] %}
                <td><div class="timeline-article"><p>{{award["review"] }}</p></div></td>
                {% endif %}
                
            </tr>
            {% endfor %}
          </tbody>
    </table>
</section>
<h3>Whant to know more?</h3>
<blockquote>Checkout my contact details - I bet you will find them !</blockquote>